<form (ngSubmit)="save()">
  <div>
    <label>Add Column:</label>
    <div
      class="d-flex align-items-baseline"
      formArrayName="inputs"
      *ngFor="let input of inputs.controls; let i = index"
    >
      <input type="text" class="form-control mt-3" [formControlName]="i" />
      <span (click)="Inputremove(i)">Remove</span>
    </div>
    <h6 class="m-0 ps-3">
      <span (click)="Inputadd()">Add Input</span>
    </h6>
  </div>

  <div>
    <button type="submit">Save</button>
  </div>
</form>
